<body>

    
    <nav class="navbar navbar-expand-lg">
        <h4 class="navbar-brand" href="">Navigation</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/"><button type="button" class="btn typical">Products</button></a>
                <a routerLink="/ca"><button type="button" class="btn typical">Categories</button></a>
            </div>
        </div>
    </nav>




    <div class="container-fluid">
        <div class="row">
            <div class="col-sm main">
                <h1 class="page-header">Dashboard</h1>

                <h2 class="sub-header">Suppliers</h2>

                <a routerLink="/b"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addProductForm">Add Supplier</button></a>
                
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>

                
                <div class="alert-group">
                    <!--
                    <div class="alert alert-success " role="alert">TEST MODE</div>
                    <div class="alert alert-info d-none" role="alert">...</div>
                    <div class="alert alert-warning d-none" role="alert">...</div>
                    <div class="alert alert-danger d-none" role="alert">...</div>
                    -->
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Supplier</th>
                                <th>Change / Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{row1.supplierId}}</td>
                                <td>{{row1.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(1)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(1)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row2.supplierId}}</td>
                                <td>{{row2.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(2)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(2)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row3.supplierId}}</td>
                                <td>{{row3.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(3)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(3)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row4.supplierId}}</td>
                                <td>{{row4.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(4)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(4)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row5.supplierId}}</td>
                                <td>{{row5.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(5)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(5)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row6.supplierId}}</td>
                                <td>{{row6.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(6)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(6)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row7.supplierId}}</td>
                                <td>{{row7.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(7)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(7)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row8.supplierId}}</td>
                                <td>{{row8.supplierName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(8)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(8)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Table Navigation">
                    <ul class="pagination">
                        <li class="page-item"><button type="button" class="btn typical" (click)="prev()">Previous</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="page1()">Page 1</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="next()">Next</button></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div> <!-- End main container-->

        <div *ngIf="show">
        <div class="container move_down" >
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    
                    <div class="container add_color">
                        <h4 class="section green_title">MODIFY SUPPLIER</h4>
                        <form [formGroup]="putForm" (ngSubmit)="putChanges()">
                                <div class="table-responsive">
                                        <table class="table table-bordered table-striped" >
                                            <tr>
                                                <th>Supplier:</th>
                                                <td><input type="text" formControlName="supplierName"></td>
                                            </tr>

                                        </table>
                                    </div>
                        </form>
                        <button type="button" class="nav-item btn move_button" (click)="putChanges()">Save Changes</button>
                        <button type="button" class="nav-item btn move_button" (click)="ngOnInit()">Hide</button>
                                                
                    </div>
    
                </div>
                <div class="col-lg-3"></div>
            </div>
    
        </div>
        </div>
    
</body>
<router-outlet></router-outlet>