

<body>

    
    <nav class="navbar navbar-expand">
        <h4 class="navbar-brand" href="">Navigation</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/s"><button type="button" class="btn typical">Suppliers</button></a>
                <a routerLink="/ca"><button type="button" class="btn typical">Categories</button></a>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm main">
                <h1 class="page-header">Dashboard</h1>

                <h2 class="sub-header">Inventory</h2>

                <a routerLink="/a"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addProductForm">Add Product</button></a>
                <button type="button" class="nav-item btn purple_success" disabled *ngIf="deleted">DELETED -  Refresh Page</button>



                <div class="table-responsive give_space">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th (click)=sortByID() [class.chosen]="headerSelect1">ID</th>
                                <th (click)=sortByProdName() [class.chosen]="headerSelect2">Product Name</th>
                                <th (click)=sortByCategory() [class.chosen]="headerSelect3">Category</th>
                                <th (click)=sortBySupplier() [class.chosen]="headerSelect4">Supplier</th>
                                <th (click)=sortBySalePrice() [class.chosen]="headerSelect5">Sale Price</th>
                                <th>Change / Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{row1.id}}</td>
                                <td>{{row1.productName}}</td>
                                <td>{{row1.catName}}</td>
                                <td>{{row1.supName}}</td>
                                <td>{{row1.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(1)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(1)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row2.id}}</td>
                                <td>{{row2.productName}}</td>
                                <td>{{row2.catName}}</td>
                                <td>{{row2.supName}}</td>
                                <td>{{row2.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(2)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(2)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row3.id}}</td>
                                <td>{{row3.productName}}</td>
                                <td>{{row3.catName}}</td>
                                <td>{{row3.supName}}</td>
                                <td>{{row3.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(3)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(3)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row4.id}}</td>
                                <td>{{row4.productName}}</td>
                                <td>{{row4.catName}}</td>
                                <td>{{row4.supName}}</td>
                                <td>{{row4.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(4)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(4)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row5.id}}</td>
                                <td>{{row5.productName}}</td>
                                <td>{{row5.catName}}</td>
                                <td>{{row5.supName}}</td>
                                <td>{{row5.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(5)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(5)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row6.id}}</td>
                                <td>{{row6.productName}}</td>
                                <td>{{row6.catName}}</td>
                                <td>{{row6.supName}}</td>
                                <td>{{row6.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(6)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(6)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row7.id}}</td>
                                <td>{{row7.productName}}</td>
                                <td>{{row7.catName}}</td>
                                <td>{{row7.supName}}</td>
                                <td>{{row7.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(7)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(7)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row8.id}}</td>
                                <td>{{row8.productName}}</td>
                                <td>{{row8.catName}}</td>
                                <td>{{row8.supName}}</td>
                                <td>{{row8.salePrice}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(8)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(8)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Table Navigation">
                    <ul class="pagination">
                        <li class="page-item"><button type="button" class="btn typical" (click)="prev()">Previous</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="page1()">Page 1</button></li>
                        <!--
                        <li class="page-item"><button type="button" class=" btn typical" (click)="page2()">Page 2</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="page3()">Page 3</button></li>
                        -->
                        <li class="page-item"><button type="button" class="btn typical" (click)="next()">Next</button></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div> <!-- End main container-->

        <div *ngIf="show">
        <div class="container move_down" >
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    
                    <div class="container add_color">
                        <h4 class="section green_title">MODIFY PRODUCT</h4>
                        <form [formGroup]="putForm" (ngSubmit)="putChanges()">
                                <div class="table-responsive">
                                        <table class="table table-bordered table-striped" >
                                            <tr>
                                                <th>Product Name:</th>
                                                <td><input type="text" formControlName="productName"></td>
                                            </tr>
                                            <tr>
                                                <th>Full Price:</th>
                                                <td><input type="text" formControlName="fullPrice"></td>
                                            </tr>
                                            <tr>
                                                <th>Sale Price:</th>
                                                <td><input type="text" formControlName="salePrice"></td>
                                            </tr>
                                            <tr>
                                                <th>Supplier:</th>
                                                <td><input type="text" formControlName="supplier"></td>
                                            </tr>
                                            <tr>
                                                <th>Category:</th>
                                                <td><input type="text" formControlName="category"></td>
                                            </tr>
                                            <tr>
                                                <th>Availability:</th>
                                                <td><input type="text" formControlName="availability"></td>
                                            </tr>
                                        </table>
                                    </div>
                        </form>
                        <button type="button" class="nav-item btn move_button" (click)="putChanges()">Save Changes</button>
                        <button type="button" class="nav-item btn move_button" (click)="ngOnInit()">Hide</button>
                                                
                    </div>
    
                </div>
                <div class="col-lg-3"></div>
            </div>
    
        </div>
        </div>
    
</body>
<router-outlet></router-outlet>