
a{
    color: rgb(180,180,180) !important;
    background-color: rgb(30,30,30) !important;
}

.alert-group {
    margin-top: 20px;
}

h4{
    position: relative;
    bottom:4px;
    left: 7px;
}

.move_down{
    position: relative;
    top: 6%;
}

input{
    color:rgb(180,180,180);
    background-color: rgb(30,30,30) !important;
    border-width: 1px;
    border-style:solid;
}

body{
    background-color: rgb(30,30,30);
    color: rgb(180,180,180);
    height: 100vh;
}

.col-lg-4{
    margin-top: 20px;
}

.section{
    margin-left: 10px;
}

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

td{
    color: rgb(180,180,180);
}

th{
    color: rgb(180,180,180);
}

h4{
    color: greenyellow;
}

.typical{
    border-width: 1px;
    border-color: rgb(180,180,180);
    color: rgb(180,180,180);
    text-decoration: none;
    margin-right: 15px;
}

button{
    margin-bottom: 15px;
}

.make_green{
    color: black;
    background-color: greenyellow;
    border-color: black;
}



