.add_color{
	background-color: rgb(194, 29, 145);
	height: 430px;
}
.alert-group{
	margin-top: 20px;
}
.green_title{
	color: greenyellow;
}
.main{
	padding: 20px;
}
.main .page-header{
	margin-top: 0;
}
.move_button{
	background-color: greenyellow;
	margin-right: 20px;
}
.move_down{
	bottom: 80vh;
	position: relative;
	z-index: 1;
}
.purple_success{
	color: black !important;
	background-color: rgb(140, 15, 223);
	margin-left: 130px;
	border-width: 0px;
}
.typical{
	border-color: rgb(180,180,180);
	border-width: 1px;
	color: rgb(180,180,180);
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
}
@media (min-width: 768px){
	.main{
		padding-left: 40px;
		padding-right: 40px;
	}
}
a{
	background-color: rgb(30,30,30) !important;
	color: rgb(180,180,180) !important;
}
body{
	background-color: rgb(30,30,30);
	color: rgb(180,180,180);
}
h4{
	position: relative;
	top: 3px;
}
input{
	background-color: rgb(30,30,30) !important;
	border-style: solid;
	border-width: 1px;
	color: rgb(180,180,180);
}
td{
	color: rgb(180,180,180);
}
th{
	color: rgb(180,180,180);
}