<body>

    
    <nav class="navbar navbar-expand">
        <h4 class="navbar-brand" href="">Navigation</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/"><button type="button" class="btn typical">Products</button></a>
                <a routerLink="/s"><button type="button" class="btn typical">Suppliers</button></a>
            </div>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm main">
                <h1 class="page-header">Dashboard</h1>

                <h2 class="sub-header">Categories</h2>

                <a routerLink="/c"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addProductForm">Add Category</button></a>
                <button type="button" class="nav-item btn purple_success" disabled *ngIf="deleted">DELETED -  Refresh Page</button>



                <div class="table-responsive give_space">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Change / Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{row1.categoryId}}</td>
                                <td>{{row1.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(1)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(1)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row2.categoryId}}</td>
                                <td>{{row2.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(2)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(2)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row3.categoryId}}</td>
                                <td>{{row3.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(3)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(3)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row4.categoryId}}</td>
                                <td>{{row4.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(4)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(4)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row5.categoryId}}</td>
                                <td>{{row5.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(5)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(5)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row6.categoryId}}</td>
                                <td>{{row6.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(6)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(6)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row7.categoryId}}</td>
                                <td>{{row7.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(7)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(7)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{row8.categoryId}}</td>
                                <td>{{row8.categoryName}}</td>
                                <td class="text-right" id="tableDataBtns">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" (click)=setPutChoice(8)><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="deleteRow(8)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Table Navigation">
                    <ul class="pagination">
                        <li class="page-item"><button type="button" class="btn typical" (click)="prev()">Previous</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="page1()">Page 1</button></li>
                        <!--
                        <li class="page-item"><button type="button" class=" btn typical" (click)="page2()">Page 2</button></li>
                        <li class="page-item"><button type="button" class="btn typical" (click)="page3()">Page 3</button></li>
                        -->
                        <li class="page-item"><button type="button" class="btn typical" (click)="next()">Next</button></li>
                    </ul>
                </nav>
            </div>
        </div>
        </div> <!-- End main container-->

        <div *ngIf="show">
        <div class="container move_down" >
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    
                    <div class="container add_color">
                        <h4 class="section green_title">MODIFY CATEGORY</h4>
                        <form [formGroup]="putForm" (ngSubmit)="putChanges()">
                                <div class="table-responsive">
                                        <table class="table table-bordered table-striped" >
                                            <tr>
                                                <th>Category:</th>
                                                <td><input type="text" formControlName="categoryName"></td>
                                            </tr>
                                        </table>
                                    </div>
                        </form>
                        <button type="button" class="nav-item btn move_button" (click)="putChanges()">Save Changes</button>
                        <button type="button" class="nav-item btn move_button" (click)="ngOnInit()">Hide</button>
                                                
                    </div>
    
                </div>
                <div class="col-lg-3"></div>
            </div>
    
        </div>
        </div>
    
</body>
<router-outlet></router-outlet>